################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Engine/obj
/Engine/bin/Debug/netstandard2.0
/Engine.Tests/bin/Debug/netcoreapp3.1
/Engine.Tests/obj
